@import url(/styles/root.css);


.frame {
    display: flex;
    flex-direction: row;
}

.card-container {
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 15px;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    box-shadow: 4px 4px 15px rgb(26 35 126 / 20%);
}

.product-img {
    width: 15rem;
    margin-top: 25px;
    position: relative;

}

.card-title {
    font-size: 1.2rem;
    font-weight: var(--fw-800);
    margin: 0;

}

.card-content {
    font-size: 1rem;
    /* font-weig ht: var(--fw-200); */
    color: var(--gray-100);
    /* margin-bottom: 100px; */
    text-align: left;
    margin-top: 0;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: space-evenly;
}

.btn-1 {
    border: none;
    border-radius: 5px;
    color: var(--font);
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: var(--blue-250);
    color: var(--font);
}

.btn-2 {
    border: none;
    border-radius: 5px;
    color: var(--gray-100);
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: var(--font);
}

.card-badge {
    position: relative;
    border-radius: 6px;
    background-color: var(--green-250);
    transform: translate(85px, 1px);
    padding: 0.5rem;
}

.cross {
    position: relative;
    border-radius: 6px;
    transform: translate(100px, 4px);
    padding: 0.5rem;
}

.overlay-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-weight: 300;
    color: var(--primary-color);
    opacity: 0.9;
    /* /* margin-top: 30rem; */
}

.overlay-txt {
    position: relative;
    border-radius: 6px;
    background-color: var(--yellow-20);
    transform: translate(0px, 10px);
    opacity: 0.9;

}


.overlay-txt .product-img img {
    opacity: 0.5;
}

.card-bottom-txt {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* width: 15rem; */
    justify-content: space-evenly;
}

.card-container-txt {
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 15rem;
    height: 10rem;
    padding: 1rem;
    box-shadow: 4px 4px 15px rgb(26 35 126 / 20%);
}

.btn-1-txt {
    border: none;
    border-radius: 5px;
    color: var(--font);
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: var(--blue-250);
    color: var(--font);
}

.btn-2-txt {
    border: none;
    border-radius: 5px;
    color: var(--gray-100);
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: var(--font);
}

.card-container-horz {
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    box-shadow: 4px 4px 15px rgb(26 35 126 / 20%);
}

.product-img-horz {
    width: 10rem;
    margin-top: auto;
    margin-bottom: auto;
}

.text-horz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-img {
    width: 15rem;
}

.card-text-overlay .product-img-overlay {
    position: relative;
}

.card-text-overlay .product-img-overlay {
    opacity: 0.5;
}

.card-text-overlay .product-img-overlay .card-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}