<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <script src="https://kit.fontawesome.com/f3f9dcc437.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="button.css" />
</head>

<body>
    <div>
        <button class="btn primary">Primary</button>
        <button class="btn warning">Warning</button>
        <button class="btn success">Success</button>
        <button class="btn attention">Attention</button>
    </div>
    <div>
        <button class="btn-otl primary-otl">Primary</button>
        <button class="btn-otl warning-otl">Warning</button>
        <button class="btn-otl success-otl">Success</button>
        <button class="btn-otl attention-otl">Attention</button>
    </div>
    <div>
        <button class="btn-icon primary">
            <i class="fas fa-home"></i> Home
        </button>
        <button class="btn-icon warning">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
        <button class="btn-icon success">
            <i class="fas fa-check"></i> Success
        </button>
        <button class="btn-icon attention">
            <i class="fas fa-bell"></i> Notification
        </button>
    </div>
</body>

</html>