@import url(/styles/root.css);
@import url(/components/avatar/avatar.css);


.container{
    margin-top: 30px;
}
.badge-dot{
    margin-right: 10px;
}

.icon-indc {
    position: relative;
  }

  .bubble-weight {
    position: absolute;
    border-radius: 50%;
    background-color: var(--yellow-250);
    color: var(--font);
  }
  .sm-wt {
    transform: translate(-10px, -10px);
    padding: 0.2rem;
    font-size: 0.87rem;
  }
  
  .btn{
      margin-top: 50px;
      position: relative;
      border: 0;
      padding: 10px;
      background-color: var(--blue-250);
      color: var(--font);
  }

  .avatar-notif{
      position: absolute;
      border-radius: 50%;
      background-color: var(--green-250);
      transform: translate(-25px, 60px);
      padding: 0.7rem;
    }

    .avatar-icon{
      margin-top: 50px;
    }