@import url(/styles/root.css);
@import url(/components/avatar/avatar.css);


.container {
  margin-top: 30px;
}

.badge {
  font-size: 2rem;
  position: relative;
  background-color: transparent;
}

.icon-badge {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  position: absolute;
  background-color: var(--blue-250);
}

.badge-number {
  font-size: 1.3rem;
  color: var(--font);
  text-align: center;
}

.badge-left {
  top: -15px;
  left: 35px;
}

.badge-right {
  top: -15px;
  right: 35px;
}

.avatar-badge {
  position: absolute;
  border-radius: 100%;
  transform: translate(-25px, 60px);
  padding: 0.7rem;
}


.badge-online {
  background-color: var(--green-250);
}

.badge-busy {
  background-color: var(--yellow-250);
}

.badge-away {
  background-color: var(--red-250);
}