@import url(/styles/root.css);

.h1 {
    font-size: 4rem;
}

.h2 {
    font-size: 3.2rem;

}

.h3 {
    font-size: 2.4rem;

}

.h4 {
    font-size: 1.6rem;

}

.h5 {
    font-size: 0.8rem;

}

.lg-txt {
    font-size: 4rem;
}

.md-txt {
    font-size: 3.2rem;

}

.rg-txt {
    font-size: 2.4rem;

}

.sm-txt {
    font-size: 1.6rem;

}

.very-sm-txt {
    font-size: 1.2rem;
}



.bolder-txt {
    font-weight: 900;
}

.bold-txt {
    font-weight: 700;
}

.regular-txt {
    font-weight: 500;
}

.light-txt {
    font-weight: 300;
}


.gray-txt {
    color: var(--gray-100);
}

.underline-txt {
    text-decoration: underline;
}

.strikethrough-txt {
    text-decoration: line-through;
}


.center {
    text-align: center;
}

.left-txt {
    text-align: left;
}

.center-txt {
    text-align: center;
}

.right-txt {
    text-align: right;
}