<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <script src="https://kit.fontawesome.com/f3f9dcc437.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="alert.css" />
</head>

<body>
    <div class="alert-success">
        <div class="success-icon"><i class="fas fa-check-circle fa-2x"></i></div>
        <div class="success-txt">Success!</div>
        <div class="success-close"></div>
    </div>
</body>

</html>