@import url(/styles/root.css);

body {
  margin: 0;
}

.nav-logo {
  width: 250px;
}

.navbar {
  padding: 0;
}

.hero-section {
  padding: 1.5rem;

}

.hero-heading {
  font-size: 3.5rem;
  font-weight: 900;
  width: 90%;
  max-width: 75rem;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
}

.hero-img {
  width: 600px;
}

.hero-btn {
  font-size: 10rem;
}