.centered-flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centered-flex-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}